*{ border: 1px solid black;}
html,body{
    height: 100%;
    width: auto;
}
#container{
    display: grid;
    grid-template: 0.2fr 0.7fr 0.1fr/1fr;
    grid-template-areas: 
    'header'
    'content'
    'footer';
    height: 100%;
}
header{
    grid-area: header;
    text-align: center;
    
}
#title_name{
    
    color:cornflowerblue;

}
content{
    grid-area: content;
}
footer{
    
    grid-area: footer;
}