

/* background-image code */
html{background-image:url(bg_main.jpg);
    background-size:cover;
     background-repeat:no-repeat;
   height: 100%;
}
body{height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template: 0.2fr 0.7fr 0.1fr /1fr;
    grid-template-areas: 'header'
                         'content'
                         'footer';
    width:auto;
    height: 600px;
    background-color: white;
    width: 360px;
    margin: auto auto;
    box-sizing: border-box;
}


/* 메인 로고 영역 */
header{
    grid-area: 'header';
    text-align: center;
    font-style:initial
    
}

content{
    grid-area: 'content';
    padding-left: 15%;
    padding-right: 15%;
    
}
content > hr {
    width:36.5%;
    display: inline-block;
}

#log{
    margin: 0 10px;
    display: inline-block;
}

input{
    width: 100%;
    height:40px;
    box-sizing: border-box;
    display: block;
    margin-top: 20px;
}

#sign_in_bt{
    width:100%;
    height:40px;
    box-sizing: border-box;
    display: block;
    margin-top: 20px;
}

footer{
    grid-area: 'footer';
}
