*{border:1px solid black}
html,body{
    height: 100%;
}
body{background-color:ghostwhite;}

#container{
    display: grid;
    grid-template:0.05fr 0.15fr 0.8fr/ 0.7fr 0.3fr;
    grid-template-areas:
                        'header header'
                        'content section'
                        'aside section';
    
    height: 100%;
}

header{
    grid-area: header;
    text-align: center;    
}
#logo_text{
    width:auto;
    display: inline;
}
#search_box{
    width:300px;
    text-align: center;
    display: inline;
    margin: 0 38%;
}

#home{display: right;}
#home_bt{
    width: 25px;
    height: 25px;
     
}
content{
    grid-area: content;
}

section{
    grid-area: section;
    
}

aside{
    grid-area: aside;
}
