*{border:1px solid black}
html,body{
    height: 100%;
}
body{background-color:ghostwhite;}

#container{
    display: grid;
    grid-template:0.1fr 0.9fr/ 1fr 1fr;
    grid-template-areas:
                        'header header'
                        'aside section';
    
    height: 100%;
}

header{
    grid-area: header;
    text-align: center;    
}
#logo_text{
    width:auto;
    display: inline;
}
#search_box{
    
    text-align: center;
    display: inline;

}

#home{display: right;}
#home_bt{
    width: 25px;
    height: 25px;
     
}
section{
    grid-area: section;
    
}

aside{
    grid-area: aside;
}
